<%- include('../layouts/header.ejs') -%>
    <div class="container">
        <div class="col-md-12">
            <h1 class="mt-5">
                List of Items
                <span>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-success btn" data-toggle="modal" data-target="#modalNew">
                <i class="fa fa-plus-square-o" aria-hidden="true"></i> New
                </button>
            </span>
            </h1>
            <table id="itemTable" class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            
            <!-- New Modal -->
            <div class="modal fade" id="modalNew" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="modelTitleId">Create New Item</h4>
                        </div>
                        <div class="modal-body">
                            <form id="newForm">
                                <input type="text" name="itemId" id="itemId" hidden>
                                <div class="form-group">
                                    <label for="">Name</label>
                                    <input type="text" class="form-control" name="itemName" id="itemName" aria-describedby="helpId" placeholder="Item Name">
                                </div>
                                <div class="form-group">
                                    <label for="">Quantity</label>
                                    <input type="text" class="form-control" name="itemQuantity" id="itemQuantity" aria-describedby="helpId" placeholder="0">
                                </div>
                                <div class="form-group">
                                    <label for="">Amount</label>
                                    <input type="text" class="form-control" name="itemAmount" id="itemAmount" aria-describedby="helpId" placeholder="0.00">
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Add</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            
            <!-- Update Modal -->
            <div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="modelTitleId">Update Item</h4>
                        </div>
                        <div class="modal-body">
                            <form id="updateForm">
                                <input type="text" name="itemId" id="itemId" hidden>
                                <div class="form-group">
                                    <label for="">Name</label>
                                    <input type="text" class="form-control" name="itemName" id="itemName" aria-describedby="helpId" placeholder="Item Name">
                                </div>
                                <div class="form-group">
                                    <label for="">Quantity</label>
                                    <input type="text" class="form-control" name="itemQuantity" id="itemQuantity" aria-describedby="helpId" placeholder="Item Quantity">
                                </div>
                                <div class="form-group">
                                    <label for="">Amount</label>
                                    <input type="text" class="form-control" name="itemAmount" id="itemAmount" aria-describedby="helpId" placeholder="Item Amount">
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button id="save" type="submit" class="btn btn-primary">Save</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            
            <!-- Delete Modal -->
            <div class="modal fade" id="modalRemove" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="modelTitleId">Confirm</h4>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this item?
                            <input type="text" id="itemId" hidden>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button id="btnDelete" type="button" class="btn btn-danger">Yes</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
<%- include('../layouts/footer.ejs') -%>