<%- include('./layouts/header.ejs') -%>
    <div class="container"> 
        <div class="col-md-12 text-center">
            <h1 class="mt-5">API v1.0</h3>
        </div>
        <div class="col-md-12 mt-3">
            <table class="table">
            <tr>
                <td scope="row"></td>
                <td><strong>GET</strong></td>
                <td>/api/items</td>
            </tr>
            <tr>
                <td scope="row"></td>
                <td><strong>GET</strong></td>
                <td>/api/items/:id</td>
            </tr>
            <tr>
                <td scope="row"></td>
                <td><strong>POST</strong></td>
                <td>/api/items</td>
            </tr>
            <tr>
                <td scope="row"></td>
                <td><strong>PUT</strong></td>
                <td>/api/items/:id</td>
            </tr>
            <tr>
                <td scope="row"></td>
                <td><strong>DELETE</strong></td>
                <td>/api/items/:id</td>
            </tr>
        </table>
        </div>
    </div>
<%- include('./layouts/footer.ejs') -%>