<%- include('./layouts/header.ejs'); -%>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center"> 
                <h1 class="mt-5">Simple CRUDS System in Node.js</h1>
                <p class="lead">using express, mysql and ejs package.</p>
                <a href="/items" class="btn btn-outline-primary">Start Now</a>
            </div>
        </div>
    </div>

<%- include('./layouts/footer.ejs') -%>